<div class="row no-gutters">
  <div class="col-3 col-lg-2">
    <rfc-list       
      @items={{state.pullRequests}} 
      @current={{state.current}}
      @hasPreviousPage={{state.hasPrev}} 
      @hasNextPage={{state.hasNext}} 
      @onFilterClick={{action filterPullRequests}}
      @onPaginationClick={{action changePage}} />    
  </div>
  <div class="col main">
    {{#if state.errorMessage}}
      <div class="alert alert-danger" role="alert">{{state.errorMessage}}</div>
    {{/if}}
    <rfc-details @item={{state.current}} />
    <footer>
      Github API status: {{state.rateLimitRemaining}} requests available out of {{state.rateLimit}} allowed. Reset in {{rateLimitResetRemaining}} seconds
    </footer>
  </div>
</div>
