<div class="grid-container">
  <aside class="sidebar">
    <rfc-list
      @hasPreviousPage={{state.hasPrev}} 
      @hasNextPage={{state.hasNext}} 
      @onFilterClick={{action filterPullRequests}}
      @onPaginationClick={{action changePage}} >

      {{#if state.itemsLoading}}
        <loading-icon />
      {{else}}
        {{#each state.pullRequests key="item.id" as |item|}}
          <rfc-item 
            @item={{item}} 
            @selected={{eq item.number state.current.number}} />
        {{/each}}
      {{/if}}
    </rfc-list>
  </aside>
  <header class="header">
    <h1 class="text-center">{{state.current.title}}</h1>
  </header>
  <div class="content">
    {{#if state.errorMessage}}
      <div class="alert alert-danger" role="alert">{{state.errorMessage}}</div>
    {{/if}}

    {{#if state.pullRequests}}
      {{#if state.detailsLoading}}
        <loading-icon />
      {{else}}
        <rfc-details 
          @item={{state.current}}
          @itemLoading={{state.detailsLoading}} />
      {{/if}}
    {{/if}}
  </div>
  <footer class="footer">
    Github API status: {{state.rateLimitRemaining}} requests available out of {{state.rateLimit}} allowed. Reset in {{rateLimitResetRemaining}} seconds
  </footer>
</div>
