<a href="#"
  class="list-group-item list-group-item-action {{if isActive 'active'}}"
  onclick={{action @onclick}}>
  <header class="pull-request__header">
    <small><span>#{{@pr.number}}</span></small>
    <span class={{badgeClass}}>{{@pr.state}}</span>
  </header>
  <h3 class="pull-request__title">{{@pr.title}}</h3> 
  <small>
      Created by {{@pr.user.login}}, {{@pr.created_at}} ago
  </small>
</a>
